head{
    text-align: center;
}
body {

    background-image: url(FondoDePágina.jpg);
    background-size: cover;

}

.image {
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}


p {
    background-color: white;
}
.h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: blue;
}

.h2 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: blue;

}